@model Anime

<div class="card-group">
    <div class="card">
        <img class="img-fluid" src="@Model.ImagemUrl" alt="">
        <div class="card-body">
            <h2 class="text-center">Nota: @Model.Nota</h2>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.Nome</h3>
            <h6 class="text-center">Descrição</h6>
            <p class="card text-white bg-secondary mb-3">@Model.Descricao</p>
            <p class="text-center">
                <a asp-controller="Anime" asp-action="List" class="btn btn-outline-info">Lista</a>
            </p>
            <h5>Link para assistir: <a href="@Model.SiteAssistirAnime">Clique Aqui!</a></h5>

        </div>
    </div>
</div>