@model IEnumerable<SitedeAnimes.Models.Genero>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center">Generos</h3>

<p>
    <a asp-action="Create" class="badge badge-success">Adicionar Genero</a>
</p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-danger text-dark">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GeneroId" class="badge badge-secondary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.GeneroId" class="badge badge-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.GeneroId" class="badge badge-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
