@model SitedeAnimes.Models.Anime

@{
    ViewData["Title"] = "Details";
}

<h3>Detalhes</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>0
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemUrl)
        </dt>
        <dd class = "col-sm-10">
            <img height="200" width="200"src="@Model.ImagemUrl" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnimePreferido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAnimePreferido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteAssistirAnime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteAssistirAnime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AnimeId">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
