@model IEnumerable<SitedeAnimes.Models.Anime>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro Animes</h1>

<p>
    <a asp-action="Create" class="badge badge-success">Adicionar Anime</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteAssistirAnime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteAssistirAnime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AnimeId" class="badge badge-secondary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AnimeId" class="badge badge-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.AnimeId" class="badge badge-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
